*{
    box-sizing: border-box;
}

p {
    margin: 0;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.container {
    width : 500px;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

form {
    margin-bottom: 20px;
    display: flex;
}

form input {
    display: flex;
    margin-right: 15px;
}

button {
    background: #2980b9;
    font-weight: bold;
    padding: 5px 15px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 3px;
}

input{
    padding: 8px 15px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 3px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    display: flex;
    align-items: center;
}

li p {
    flex: 1;
}

li .todo {
    flex: 0 0 20px;
    height: 20px;
    border-radius: 30px;
    margin-right: 15px;
    border: 2px solid #333;
}

li .todo.done {
    background: #333;
}